<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <!-- Meta tags Obrigatórias -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

    <title>Projetos</title>
  </head>
  <body>
    <nav class="navbar col-12  position-fixed navbar-expand-lg navbar-dark bg-dark" style="z-index: 999">
      <a class="navbar-brand" href="/">Display</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Alterna navegação">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
          <a class="nav-item nav-link active" href="/">Home <span class="sr-only">(menu)</span></a>
          <a class="nav-item nav-link" href="#"></a>
          </div>
      </div>
  </nav>
    <div class="container">
      <div class="jumbotron">
          <h1>Oficinas</h1>
       </div>

       <div class="card-deck">
        <div class="card">
          <img class="card-img-top" src="/static/img/ofi1.jpeg" alt="Imagem de capa do card">
          <div class="card-body">
            <h5 class="card-title">Aprenda a construir seu próprio computador e a programá-lo do zero com a nossa oficina da Display!</h5>
            <p class="card-text">Nesta oficina emocionante, você aprenderá as habilidades necessárias para construir seu próprio computador personalizado, desde a seleção das peças até a montagem do sistema completo. Você também aprenderá os conceitos básicos de programação e codificação, para que possa personalizar e programar seu novo computador para atender às suas necessidades.</p>
          </div>
        </div>
        <div class="card">
          <img class="card-img-top" src="/static/img/ofc2.jpeg" alt="Imagem de capa do card">
          <div class="card-body">
            <h5 class="card-title">Se você é apaixonado por jogos e sempre sonhou em criar seus próprios jogos, a oficina de roteiro de jogos da Display é perfeita para você!</h5>
            <p class="card-text">Nesta oficina emocionante, você aprenderá as habilidades necessárias para criar histórias envolventes e roteiros para jogos. Com a ajuda de nossos instrutores experientes, você aprenderá a criar personagens, desenvolver enredos, criar diálogos e muito mais..</p>
          </div>
        </div>
        <div class="card">
          <img class="card-img-top" src="/static/img/of3.jpeg" alt="Imagem de capa do card">
          <div class="card-body">
            <h5 class="card-title">Proxima oficina</h5>
            <p class="card-text">Este é um card maior com suporte a texto embaixo, que funciona como uma introdução a um conteúdo adicional. Este card tem o conteúdo ainda maior que o primeiro, para mostrar a altura igual, em ação.</p>
          </div>
        </div>
      </div>

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
  </body>
</html>